body{
    font-family: sans-serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 23px;
    text-align: left;
}
p{
    text-align: left;
}
header{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0px;
}
.nav-text{
    display: flexbox;
    align-items: base;
    gap: 12px;
}
ul{
    display: flex;
    list-style: none;
    gap: 70px;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav-bar{
    display: flex ;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    justify-self: center;
}
main, footer{
    background-color:rgb(190, 194, 185)
} 
input{
    display: flex;
    justify-content: right;
    margin-left: 200px;
    border-radius: 8px;
    border: 1px;
    background-color: #ccc;
    height: 35px;
    
}
